<div class="">
  <%= gravatar_for(@profile.user, size: 150, class: 'avatar') %>
</div>
<div class="">
  <%= @profile.name %>
</div>
<div class="">
  <%= @profile.bio %>
</div>
<div class="">
  <%= @profile.gender %>
</div>
<div class="">
  <%= @profile.birthday %>
</div>
<div class="">
  <%= @profile.email %>
</div>
<div class="">
  <%= time_ago_in_words(@profile.current_sign_in_at) %>
</div>
