<div>
  <%= @article.title %>
</div>
<div>
  <%= @article.body %>
</div>
<div>

  <%= @article.game.title %>
</div>
<div>

  <%= @article.category.title %>
</div>
<div>

  <%= @article.profile.username %>
</div>
<br>
<%= link_to 'Index', articles_path, class: 'btn btn-success' %>
