<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "form-signin", method: :post }) do |f| %>

  <div class="text-center mb-4">
    <img class="mb-4" src="<%= asset_path('logoback.png') %>" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal"><%= application_title %></h1>
  </div>

  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "inputEmail", class: "form-control", placeholder: "Email address", required: true  %>
    <label for="inputEmail"><%= t(:email_address) %></label>
  </div>

  <button class="btn btn-lg btn-dark btn-block" type="submit"><%= t(:send_reset_instructions) %></button>
  <%= render "devise/shared/errors" %>
<% end %>

<div class="text-center mb-4">
  <h4 class="h5 mb-3 font-weight-normal">
    <%= t(:dont_have_an_account?) %> <%= link_to t(:sign_up), new_registration_path(resource_name) %>
  </h4>
</div>

<div class="text-center mb-4">
  <h4 class="h5 mb-3 font-weight-normal">
    <%= t(:have_an_account?) %> <%= link_to t(:login), new_session_path(resource_name) %>
  </h4>
</div>

<%= stylesheet_link_tag 'user_system', media: 'all' %>
