<br>
<div class="row">
  <div class="col-lg-3">
    <div class="card ml-3" style="width: 18rem;">
      <img class="card-img-top" src=" <%= asset_path('profile-cover.jpg') %>" alt="">
      <div class="card-body">
        <%= gravatar_for(current_user, class: 'profile-img rounded mx-auto d-block rounded-circle') %>
        <br>
        <p class="card-text bruno text-center"><%= current_profile.name %></p>
        <p class="card-text softdeve text-center"><%= current_profile.bio %></p>
        <p class="card-text hello text-center"><%= current_profile.birthday.strftime("%B %d, %Y") %></p>
        <p class="card-text myname text-center"><%= current_profile.gender %></p>
      </div>
    </div>

  </div>
  <div class="col-lg-7">
    <div></div>
  </div>
</div>
<br>
