<%= render 'cover' %>

<div class="row">
  <div class="col-md-8">
    <h4 class="mb-3">
      <%= t(:member, count: 2) %>
    </h4>
  </div>

  <div class="list-group list-group-flush my-3 col-12">
    <% @community.accepted_members.includes(:user, :avatar_attachments).each do |member| %>
    <h6 class="my-0">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div class="d-flex w-100 justify-content-between">
          <div class="row">
            <%= gravatar_for(member.user, size: 50, class: 'avatar') %>
            <h5 class="card-title my-auto ml-2">
              <%= link_to member.username, profile_path(member) %>
            </h5>
          </div>
          <% if member != @community.owner %>
            <% membership = membership(member, @community) %>
            <div class="dropdown">
              <button class="btn btn-sm btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= render 'memberships/remove', membership: membership %>
                <%= render 'memberships/update', membership: membership, status: 'administrator', message: 'Make Admin' unless membership.administrator?  %>
                <%= render 'memberships/update', membership: membership, status: 'moderator', message: 'Make Moderator' unless membership.moderator? %>
                <%= render 'memberships/update', membership: membership, status: 'common', message: 'revoke manager access' if @community.manager?(member) %>
              </div>
            </div>
          <% end %>
        </div>
      </li>
    </h6>
    <% end %>
  </div>
</div>
