<!-- Image and text -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand py-0" href="<%= root_path %>">
      <img src="<%= asset_path('logoback.png') %>" width="32" height="32" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav-button" aria-controls="main-nav-button" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-nav-button">
      <form class="form-inline mr-auto mt-2 mt-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <a class="my-2 my-sm-0" href="#">
          <div class="nav-icon">
            <i class="fas fa-search"></i>
          </div>
        </a>
      </form>

      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <%= link_to(new_article_path, class: "nav-link py-0") do %>
            <div class="nav-icon">
              <i class="fas fa-pen-square"></i>
            </div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to(articles_path, class: "nav-link py-0") do %>
            <div class="nav-icon">
              <i class="fas fa-paragraph"></i>
            </div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to(games_path, class: "nav-link py-0") do %>
            <div class="nav-icon">
                <i class="fas fa-gamepad"></i>
            </div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to(communities_path, class: "nav-link py-0") do %>
            <div class="nav-icon">
              <i class="fas fa-life-ring"></i>
            </div>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link py-0" href="#" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= gravatar_for(current_user, size: 30, class: 'avatar') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="nav-dropdown">
            <%= link_to(profile_path(current_profile), class: 'dropdown-item') do %>
              <i class="fas fa-user-circle"></i> <%= t(:profile) %>
            <% end %>
            <%= link_to(edit_profile_path(current_profile), class: 'dropdown-item') do %>
              <i class="fas fa-cogs"></i> <%= t(:settings) %>
            <% end %>
            <%= link_to(destroy_user_session_path, method: :delete, class: 'dropdown-item py-0') do %>
              <i class="fas fa-sign-out-alt"></i> <%= t(:logout) %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%= stylesheet_link_tag 'nav_bar', media: 'all' %>
