<!-- Image and text -->
<nav class="navbar fixed-top navbar-expand navbar-trans navbar-light">
  <div class="container">

    <a class="navbar-brand py-0" href="<%= root_path %>">
      <img src="<%= asset_path('logoback.png') %>" width="32" height="32" class="d-inline-block align-top" alt="">
    </a>

    <div class="collapse navbar-collapse" id="main-nav-button">
      <div class=" mr-auto mt-2 mt-lg-0">

      </div>
      <form class="form-inline mr-3">
          <div class="search-box py-0">
            <input type="text" />
            <span></span>
          </div>
      </form>

      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <%= link_to(new_article_path, class: "nav-link py-0") do %>
            <div class="nav-icon">
              <i class="fas fa-pen-square"></i>
            </div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to(articles_path, class: "nav-link py-0") do %>
            <div class="nav-icon">
              <i class="fas fa-paragraph"></i>
            </div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to(games_path, class: "nav-link py-0") do %>
            <div class="nav-icon">
                <i class="fas fa-gamepad"></i>
            </div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to(communities_path, class: "nav-link py-0") do %>
            <div class="nav-icon">
              <i class="fas fa-life-ring"></i>
            </div>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to gravatar_for(current_user, size: 30, class: 'avatar'), profile_path(current_profile), class: 'nav-link py-0' %>
          <div class="dropdown-menu" aria-labelledby="nav-dropdown">
            <%= link_to(edit_profile_path(current_profile), class: 'dropdown-item') do %>
              <i class="fas fa-cogs"></i> <%= t(:settings) %>
            <% end %>
            <%= link_to(destroy_user_session_path, method: :delete, class: 'dropdown-item py-0') do %>
              <i class="fas fa-sign-out-alt"></i> <%= t(:logout) %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%= stylesheet_link_tag 'nav_bar', media: 'all' %>
