<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-visit-control" content="reload">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= render partial: 'stylesheets/stylesheets' %>
    <%= javascript_include_tag 'application' %>
    <%= render partial: 'javascripts/javascripts' %>
  </head>

  <body>
    <%= render partial: "layouts/partials/#{nav_bar}" %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render partial: "layouts/partials/main_footer" %>
  </body>

</html>
