<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-visit-control" content="reload">
    <%= render partial: 'stylesheets/stylesheets' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= render partial: 'javascripts/javascripts' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id='locale' name="<%= params[:locale] %>" value="<%= params[:locale] %>">
    </div>
    <%#= render partial: "layouts/partials/#{nav_bar}" %>
    <%= render partial: "layouts/partials/main_nav_bar" if user_signed_in? %>
    <% flash.each do |name, message| %>
      <div class="flash hidden" name="<%= name %>" value="<%= message %>">
      </div>
    <% end %>

    <main role="main" class="container">
      <div id="wrapper">
        <%= render partial: "layouts/partials/right_sidebar" if user_signed_in? %>
        <%= yield %>
      </div>
    </main>

    <%= render partial: "layouts/partials/main_footer" if user_signed_in? %>
  </body>
  <%= stylesheet_link_tag 'right_sidebar', media: 'all' %>
  <%= javascript_include_tag 'right_sidebar' %>

</html>
